<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<h1>
Data Science Tools and Ecosystem
</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>OBJECTIVES</b>
<ul>
<li>List popular languages used in data science.</li>
<li>Enumerate used libraries used by Data Scientists</li>
<li>Give out the data science tools in a table of a markdown cell in jupyter notebook.</li>
<li>Write basic Python expressions </li>
</ul>

Some of the popular languages that Data Scientists use are:
    <ol> 
    <li>R</li>
    <li>Python</li>
    <li>Scala</li>
    <li>Julia</li>
    </ol>

Some of the commonly used libraries used by Data Scientists include:
 <ol> 
    <li>PyTorch</li>
    <li>Keras</li>
    <li>Tensorflow</li>
    <li>sci-kit learn</li>
    </ol>

<table border="1">
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>R</td>
  </tr>
  <tr>
    <td>Python</td>
  </tr>
  <tr>
    <td>Julia</td>
  </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60


def min_2_hrs(min):
    return min / 60

#Code run
print(f'200 minutes is equal to {min_2_hrs(200)}hours')

200 minutes is equal to 3.3333333333333335hours

<h2>Author</h2>
Uchechukwu C. Kpadeuwa